APP_PORT=8080

DB_HOST=localhost
DB_PORT=5435
DB_NAME=security_lab
DB_USER=postgres
DB_PASSWORD=postgres

JWT_ACCESS_SECRET=change-me-change-me-change-me-change-me
JWT_REFRESH_SECRET=change-me-change-me-change-me-change-me-refresh
JWT_ACCESS_EXPIRATION=900
JWT_REFRESH_EXPIRATION=604800
